#logo {
    height: 200px;
    border: 10px solid red;
    background-color: lightsalmon;
}

#topnavigation {
    height: 250px;
    border: 10px solid green;
    
}

#topnavigation ul > li {
    list-style-type: none;
    display: inline;
    background-color: lightgray;
    border-bottom: 1px solid red;
}

.contentarea article h2 {
    text-decoration: underline;
    text-decoration-color: red;
}

footer {
    height: 100px;
    border: 10px solid blue;
    background-color: lightblue;
}

body {
    margin-left: 25%; /* or: auto, but different indentation */
    margin-right: 25%; /* or: auto, but different indentation */
}

@media (max-width: 800px) and (max-height: 600px){
    .maincontainer {
        width: device-width;
    }
}

@media not (max-width: 800px) and (max-height: 600px){
    .maincontainer {
        width: 1000px;
    }
}
