#logo {
    height: 200px;
border: 10px solid red;
}

#topnavigation {
    height: 100px;
border: 10px solid green;
}

footer {
    height: 100px;
	border: 10px solid blue
}


@media (max-width: 800px) and (max-height: 600px){
    .maincontainer {
        width: device-width;
    }
}

@media not (max-width: 800px) and (max-height: 600px){
    .maincontainer {
        width: 1000px;
    }
}
