/*
	Name: Leipziger Biokiste
	Date: April 2014
	Description: Leipziger Biokiste - Frische auf Bestellung!
	Version: 1.1
	Author: DEIN NAME
*/

/* Browser Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}

/* Global */

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 0.875em;
	color: #000;
	background: url('../img/bg.jpg') fixed no-repeat;
	background-size:cover;
	line-height: 1.429;
}

/* †berschriften */

h2, h3 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 0.8em;
}
h2 { 
	font-size: 1.375em
}	
h3 {
	font-size: 1.250em
}	

#wrapper {
	margin: 2.5em auto; 
	width: 800px;
}

/* Navigation */

nav {
	background-color: #000;
	color:#fff;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
nav ul {
	list-style: none; 
}
nav li {
	float: left; 
}

/* Featured */

#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 30px;
	width: 740px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#featured figure {
	float: right;
	margin-left:70px;
}
#featured figcaption {
	font-size: 0.8em;
	margin: 1em 0 0 1.5em;
	font-style: italic;
}
#featured figure img {
	float: right;
}
#featured h2 {
	color: #a5da49; 
	font-size: 1.714em; 
	margin-bottom: 0.333em;
}
#featured h3 {
	font-size: 1.429em; 
	margin-bottom: 0.5em;
}

/* News */

#news {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#news h2 {
	font-size: 1.429em; 
	margin-bottom: 0;
}
#news-list {
	list-style: none; 
	margin: 0;
}
#news-list article {
	border-bottom: 1px solid #eee;
	padding: 10px;
}




