/* Browser Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DIV - SPAN */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height:20px;
}
div {
	padding: 20px;
	margin:5px;
}
#container p {
	margin-bottom:20px;	
}

#container {
	width: 455px;
	text-align: justify;
}

#content {
	float:left;
	width:297px;
	height:200px;
	margin-right:0px;
}
#sidebar {
	float:left;
	width:100px;
	height:200px;
}
#footer {
	clear:left;
}
#menu {
	margin-bottom:0;
}