/*
	Name: Leipziger Biokiste
	Date: Mai 2014
	Description: Leipziger Biokiste - Frische auf Bestellung!
	Version: 1.1
	Author: DEIN NAME
*/

/* Browser Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}

/* Global */

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 0.875em;
	color: #000;
	background: url('../img/bg.jpg') fixed no-repeat;
	background-size:cover;
	line-height: 1.429;
}

/* Überschriften */

h2, h3 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 0.8em;
}
h2 { 
	font-size: 1.375em
}	
h3 {
	font-size: 1.250em
}
